<nav class="navbar navbar-light">
  <a class="navbar-brand" href="http://yell.com">
    <img src="src\assets\image2vector.svg" style="padding:" height="51" width="177" alt="Yell">
  </a>
  <div>
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Administrator
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</nav>
<hr color="#ffd100" style="border-top: 4px solid #ffd100" noshade>