<div style="background-color: #F5F5F5; padding: 5rem">
  <div style="text-align: center" *ngIf="selectedStep===0">
    <h3>Create your campaign in 3 simple steps!</h3>
    <table style="padding: 5%; align-content: center; width: 100%">
      <tr>
        <td style="width: 33%"><img class="images" src="src/assets/Picture6.svg" height="250px" width="200px"></td>
        <td style="width: 33%"><img class="images" src="src/assets/Picture7.svg" height="250px" width="200px"></td>
        <td style="width: 33%"><img class="images" src="src/assets/Picture8.svg" height="250px" width="200px"></td>
      </tr>
      <tr>
        <td style="width: 33%">
          <h6>Step 1. Choose your target audience</h6>
        </td>
        <td style="width: 33%">
          <h6>Step 2. Choose campaign type and create content</h6>
        </td>
        <td style="width: 33%">
          <h6>Step 3. Schedule, Test and Run your campaign</h6>
        </td>
      </tr>
    </table>

    <p style="padding: 5% 0%"> We want you to focus on your customers and spend less time setting up Marketing
      Campaigns. Yell CRM campaigns
      features automated URL tracker to track your customer behavior, automated opt out subscription list and
      intelligent
      reports that help you run successful campaigns in a few clicks.</p>

    <button class="btn btn-warning" (click)="selectedStep=1"> <b>Let’s get started with your first Campaign</b></button>
  </div>

  <div *ngIf="selectedStep > 0">
    <h3>Create your campaign in 3 simple steps!</h3>
    <div class="stepwizard" style="padding: 2rem 0rem;">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <button class="btn btn-warning btn-circle" *ngIf="selectedStep === 1" disabled="true">1</button>
          <button class="btn btn-warning btn-circle btn-circle-active" *ngIf="selectedStep > 1" disabled="true">
            <img src="src/assets/correct.svg" height="50px" width="50px"></button>
          <button class="btn btn-warning btn-circle btn-circle-disabled" *ngIf="selectedStep < 1" disabled="true">1</button>
          <p>Choose your target audience</p>
        </div>
        <div class="stepwizard-step">
          <button class="btn btn-warning btn-circle" *ngIf="selectedStep === 2" disabled="true">2</button>
          <button class="btn btn-warning btn-circle btn-circle-active" *ngIf="selectedStep > 2" disabled="true">
            <img src="src/assets/correct.svg" height="50px" width="50px"></button>
          <button class="btn btn-warning btn-circle btn-circle-disabled" *ngIf="selectedStep < 2" disabled="true">2</button>
          <p>Choose campaign type and <br> create content</p>
        </div>
        <div class="stepwizard-step">
          <button class="btn btn-warning btn-circle" *ngIf="selectedStep === 3" disabled="true">3</button>
          <button class="btn btn-warning btn-circle btn-circle-active" *ngIf="selectedStep > 3" disabled="true">
            <img src="src/assets/correct.svg" height="50px" width="50px"></button>
          <button class="btn btn-warning btn-circle btn-circle-disabled" *ngIf="selectedStep < 3" disabled="true">3</button>
          <p>Schedule, Test and Run <br> your campaign</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="selectedStep === 1">
      <div style="padding: 2rem 2rem;background-color: white">
        <div class="row">
          <div class="cols col-sm-5">
            <p>Choose from Yell’s intelligent target list tailored for you <br><i><u style="color:steelblue">Assured
                  Results</u></i></p>
          </div>
          <div class="cols col-sm-2">
            <select class="form-control form-control-sm">
              <option selected>Choose Target</option>
              <option>Target List 1</option>
              <option>Target List 2</option>
              <option>Target List 3</option>
            </select>
          </div>
        </div>
        <div class="row rowMenu row-options">
          <div class="cols col-sm-3"><b>Or</b></div>
        </div>
        <div class="row row-options">
          <div class="cols col-sm-5">
            <p>Choose from Previous Campaign or Saved Campaigns</p>
          </div>
          <div class="cols col-sm-2">
            <select class="form-control form-control-sm">
              <option selected>Choose Target</option>
              <option>Target List 1</option>
              <option>Target List 2</option>
              <option>Target List 3</option>
            </select>
          </div>
        </div>
        <div class="row rowMenu row-options">
          <div class="cols col-sm-3"><b>Or</b></div>
        </div>
        <div class="row rowMenu row-options">
          <div class="cols col-sm-12">Choose your target audience based on Demographics <b> ({{ selectedList }}
              Selected)</b></div>
        </div>
        <form>
          <div class="form-group row row-options">
            <label class="col-sm-2">Region</label>
            <div class="col-sm-3">
              <select class="form-control form-control-sm" id="region" (change)="onItemChange($event.target.value)">
                <option selected>Please Select</option>
                <option>Earley</option>
                <option>Norcot</option>
                <option>Calcot</option>
                <option>Whitley</option>
              </select>
              <div class="row" *ngIf="selectedRegions.length > 0">
                <b>Selected:</b>
                <div *ngFor="let item of selectedRegions; let i1 = index" style="padding-left: .7rem">
                  {{ item }} <a class="cursor" (click)="deleteItem(i1)"><img src="src/assets/delete.png" alt="delete"
                      height="15px" width="15px"> </a>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2">Vehicle Size</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'Sedan')">
              <label class="form-check-label" for="inlineCheckbox1">Sedan</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'Hatchback')">
              <label class="form-check-label" for="inlineCheckbox2">HatchBack</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'SUV')">
              <label class="form-check-label" for="inlineCheckbox3">SUV</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'Minibus')">
              <label class="form-check-label" for="inlineCheckbox3">Mini Bus</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2">Vehicle Type</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-3" style="padding-right: 1rem;">
                <select class="form-control form-control-sm" (change)="vehicleYear($event.target.value)">
                  <option selected>Select Year</option>
                  <option>2005</option>
                  <option>2009</option>
                  <option>2010</option>
                  <option>2012</option>
                  <option>2013</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
              <div class="col-sm-3" style="padding-right: 1rem;">
                <select class="form-control form-control-sm" (change)="vehicleMake($event.target.value)">
                  <option selected>Select Make</option>
                  <option>Dodge</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Suzuki</option>
                  <option>Toyota</option>
                  <option>Vauxhall</option>
                </select>
              </div>
              <div class="col-sm-3" style="padding-right: 1rem;">
                <select class="form-control form-control-sm" (change)="vehicleModel($event.target.value)">
                  <option selected>Select Model</option>
                  <option>Ciaz</option>
                  <option>Corolla</option>
                  <option>Corsa</option>
                  <option>Endeavour </option>
                  <option>Fiesta</option>
                  <option>Grand Caravan</option>
                  <option>Grandland</option>
                  <option>i10</option>
                  <option>i20</option>
                  <option>Tuscon</option>
                </select>
              </div>
            </div>
            <div class="row rowMenu" *ngIf="selectedVehicleYear.length > 0 || selectedVehicleMake.length > 0  || selectedVehicleModel.length > 0 ">
              <b>Selected:</b>
              <div *ngFor="let year of selectedVehicleYear; let yearIndex = index" style="padding-left: .7rem">
                {{ year }} <a class="cursor" (click)="deleteYear(yearIndex)"><img src="src/assets/delete.png" alt="delete"
                    height="15px" width="15px"> </a>
              </div>
              <div *ngFor="let make of selectedVehicleMake; let makeIndex = index" style="padding-left: .7rem">
                {{ make }} <a class="cursor" (click)="deleteMake(makeIndex)"><img src="src/assets/delete.png" alt="delete"
                    height="15px" width="15px"> </a>
              </div>
              <div *ngFor="let model of selectedVehicleModel; let modelIndex = index" style="padding-left: .7rem">
                {{ model }} <a class="cursor" (click)="deleteModel(modelIndex)"><img src="src/assets/delete.png" alt="delete"
                    height="15px" width="15px"> </a>
              </div>
            </div>
          </div>
        </div>



        <!-- <div class="row row-options">
          <div class="col-sm-2">
            Region
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-6" style="padding-left: 0">
                <select class="form-control form-control-sm" (change)="onItemChange($event.target.value)">
                  <option selected>Please Select</option>
                  <option>Earley</option>
                  <option>Norcot</option>
                  <option>Calcot</option>
                  <option>Whitley</option>
                </select>
              </div>
            </div>
            <div class="row rowMenu" *ngIf="selectedRegions.length > 0">
              <b>Selected:</b>
              <div *ngFor="let item of selectedRegions; let i1 = index" style="padding-left: .7rem">
                {{ item }} <a class="cursor" (click)="deleteItem(i1)"><img src="src/assets/delete.png" alt="delete"
                    height="15px" width="15px"> </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-options">
          <div class="col-sm-2">Vehicle Size</div>
          <div class="cols">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'Sedan')">
              <label class="form-check-label" for="inlineCheckbox1">Sedan</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'Hatchback')">
              <label class="form-check-label" for="inlineCheckbox2">HatchBack</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'SUV')">
              <label class="form-check-label" for="inlineCheckbox3">SUV</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" (change)="checked($event, 'Minibus')">
              <label class="form-check-label" for="inlineCheckbox3">Mini Bus</label>
            </div>
          </div>
        </div>
        <div class="row row-options" style="padding-top: 10px">
          <div class="col-sm-2">
            Vehicle Type
          </div>
          <div class="col">
            <div class="row">
              <div class="cols" style="padding-right: 1rem;">
                <select class="form-control form-control-sm" (change)="vehicleYear($event.target.value)">
                  <option selected>Select Year</option>
                  <option>2005</option>
                  <option>2009</option>
                  <option>2010</option>
                  <option>2012</option>
                  <option>2013</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
              <div class="cols" style="padding-right: 1rem;">
                <select class="form-control form-control-sm" (change)="vehicleMake($event.target.value)">
                  <option selected>Select Make</option>
                  <option>Dodge</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Suzuki</option>
                  <option>Toyota</option>
                  <option>Vauxhall</option>
                </select>
              </div>
              <div class="cols" style="padding-right: 1rem;">
                <select class="form-control form-control-sm" (change)="vehicleModel($event.target.value)">
                  <option selected>Select Model</option>
                  <option>Ciaz</option>
                  <option>Corolla</option>
                  <option>Corsa</option>
                  <option>Endeavour </option>
                  <option>Fiesta</option>
                  <option>Grand Caravan</option>
                  <option>Grandland</option>
                  <option>i10</option>
                  <option>i20</option>
                  <option>Tuscon</option>
                </select>
              </div>
            </div>
            <div class="row rowMenu" *ngIf="selectedVehicleYear.length > 0 || selectedVehicleMake.length > 0  || selectedVehicleModel.length > 0 ">
              <b>Selected:</b>
              <div *ngFor="let year of selectedVehicleYear; let yearIndex = index" style="padding-left: .7rem">
                {{ year }} <a class="cursor" (click)="deleteYear(yearIndex)"><img src="src/assets/delete.png" alt="delete"
                    height="15px" width="15px"> </a>
              </div>
              <div *ngFor="let make of selectedVehicleMake; let makeIndex = index" style="padding-left: .7rem">
                {{ make }} <a class="cursor" (click)="deleteMake(makeIndex)"><img src="src/assets/delete.png" alt="delete"
                    height="15px" width="15px"> </a>
              </div>
              <div *ngFor="let model of selectedVehicleModel; let modelIndex = index" style="padding-left: .7rem">
                {{ model }} <a class="cursor" (click)="deleteModel(modelIndex)"><img src="src/assets/delete.png" alt="delete"
                    height="15px" width="15px"> </a>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row row-options">
          <div class="col-sm-12" align="right" style="padding-right: 0" vertical-align="bottom">
            <button class="btn btn-warning btn-lg" (click)="selectedStep=2"><b>Choose and proceed to Step 2</b></button>
          </div>
        </div>
        <div class="row row-options">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr class="table-active">
                  <th scope="col"> All
                    <input type="checkbox" name="isActive" [(ngModel)]="allItemsSelected" (change)="selectAll()">
                  </th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Region</th>
                  <th scope="col">Car Size</th>
                  <th scope="col">Car Year</th>
                  <th scope="col">Car Make</th>
                  <th scope="col">Car Model</th>
                </tr>
              </thead>
              <tbody *ngFor="let user of users; let index = index">
                <tr>
                  <td align="center">
                    <input type="checkbox" [(ngModel)]="user.isChecked" (change)="selectItem()">
                  </td>
                  <td scope="col">{{user.firstName}}</td>
                  <td scope="col">{{user.lastName}}</td>
                  <td scope="col">{{user.email}}</td>
                  <td scope="col">{{user.phone}}</td>
                  <td scope="col">{{user.customerAddress}}</td>
                  <td scope="col">{{user.carSize}}</td>
                  <td scope="col">{{user.carYear}}</td>
                  <td scope="col">{{user.carMake}}</td>
                  <td scope="col">{{user.carModel}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div *ngIf="selectedStep === 2" style="padding: 2rem 2rem;background-color: white">
      <div class="row">
        <div class="col-sm-4">
          Enter Campaign Name
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Campaign name">
        </div>
      </div>
      <div class="row" style="padding-top: 1rem">
        <div class="col-sm-4" style="padding-top: 1rem">
          Choose your Campaign type
        </div>
        <div>
          <div class="row" style="padding-left: 1rem;">
            <a (click)="campaignType = 'email'">
              <div style="padding: 1rem;padding-left:1rem;  text-align: center;">
                <div [ngClass]="{'campaign-design': campaignType ==='email'}" class="campaign-design-border">
                  <img src="src/assets/email_campaing.svg" *ngIf="campaignType != 'email'" height="80px" width="80px">
                  <img src="src/assets/email_campaing_white.svg" *ngIf="campaignType === 'email'" height="80px" width="80px">
                  <div> Email</div>
                </div>
              </div>
            </a>
            <a (click)="campaignType = 'newsLetter'">
              <div style="padding: 1rem; text-align: center">
                <div [ngClass]="{'campaign-design': campaignType ==='newsLetter'}" class="campaign-design-border">
                  <img src="src/assets/newsLetter_campaing.svg" *ngIf="campaignType != 'newsLetter'" height="80px"
                    width="80px">
                  <img src="src/assets/newsLetter_campaing_white.svg" *ngIf="campaignType === 'newsLetter'" height="80px"
                    width="80px">
                  <div> NewsLetter</div>
                </div>
              </div>
            </a>
            <a (click)="campaignType = 'phone'">
              <div style="padding: 1rem; text-align: center">
                <div [ngClass]="{'campaign-design': campaignType ==='phone'}" class="campaign-design-border">
                  <img src="src/assets/phone_campaing.svg" *ngIf="campaignType != 'phone'" height="80px" width="80px">
                  <img src="src/assets/phone_campaing_white.svg" *ngIf="campaignType === 'phone'" height="80px" width="80px">
                  <div> Phone</div>
                </div>
              </div>
            </a>
            <a (click)="campaignType = 'socialMedia'">
              <div style="padding: 1rem; text-align: center">
                <div [ngClass]="{'campaign-design': campaignType ==='socialMedia'}" class="campaign-design-border">
                  <img src="src/assets/socialMedia_campaign.svg" *ngIf="campaignType != 'socialMedia'" height="80px"
                    width="80px">
                  <img src="src/assets/socialMedia_campaign_white.svg" *ngIf="campaignType === 'socialMedia'" height="80px"
                    width="80px">
                  <div> Social Media</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 1rem">
        <div class="col-sm-4" style="padding-top: 1rem">
          Choose your Template
        </div>
        <div>
          <div class="row" style="padding-left: 1rem;">
            <a (click)="templateClicked('blank')">
              <div style="padding: 1rem;padding-left:1rem;  text-align: center">
                <div [ngClass]="{'campaign-design': campaignTemplate ==='blank'}" style="min-height: 136px; min-width: 112px;display: flex;flex-direction: column-reverse;"
                  class="campaign-design-border">
                  <div>Blank</div>
                </div>
              </div>
            </a>
            <a (click)="templateClicked('oneColumn')">
              <div style="padding: 1rem; text-align: center">
                <div [ngClass]="{'campaign-design': campaignTemplate ==='oneColumn'}" class="campaign-design-border">
                  <img src="src/assets/1_column.png" style="padding-bottom: 1rem;" height="80px" width="80px">
                  <div> 1 Column</div>
                </div>
              </div>
            </a>
            <a (click)="campaignTemplate = 'oneColumnFullWidth'">
              <div style="padding: 1rem; text-align: center">
                <div [ngClass]="{'campaign-design': campaignTemplate ==='oneColumnFullWidth'}" class="campaign-design-border">
                  <img src="src/assets/1_column_full_width.png" height="55px" width="70px" style="padding-bottom: 1rem;">
                  <div> 1 Column <br>
                    Full Width</div>
                </div>
              </div>
            </a>
            <a (click)="campaignTemplate = 'oneToTwoColumn'">
              <div style="padding: 1rem; text-align: center">
                <div [ngClass]="{'campaign-design': campaignTemplate ==='oneToTwoColumn'}" class="campaign-design-border">
                  <img src="src/assets/1_2_column.png" height="80px" width="80px">
                  <div> 1:2:1 columns</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div style="padding: 1rem">
        <div align="center" class="cols" style="padding: 5rem;border-color: lightgray; border-style: solid">
          <input type="text" class="form-control" width="60" id="emailSubject" aria-describedby="emailHelp" [(ngModel)]="emailSubject"
            placeholder="Enter Subject">
          <br>
          <textarea rows="10" cols="65" style="resize: none; border-width: 1px; border-radius: 3px" class="form-control"
            [(ngModel)]="emailBody" placeholder="Email Body"></textarea>
        </div>
      </div>
      <div class="row" style="padding: 1rem">
        <div class="col-sm-4">
          Number of follow-up emails to be sent
        </div>
        <div class="col-sm-4">
          <div class="row">
            <a (click)="followUpEmailCounter != 0 ? followUpEmailCounter = followUpEmailCounter-1 : followUpEmailCounter = 0">
              <div class="plusMinusButton"> - </div>
            </a>
            <div class="plusMinusButton"> {{ followUpEmailCounter }}</div>
            <a (click)="followUpEmailCounter = followUpEmailCounter+1">
              <div class="plusMinusButton">+</div>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="followUpEmailCounter > 0">
        <div class="row" style="padding-top: 1rem">
          <div class="col-sm-4" style="padding-top: 1rem">
            Choose template for your follow-up email
          </div>
          <div>
            <div class="row" style="padding-left: 1rem;">
              <a (click)="campaignFollowUpTemplate = 'blank'">
                <div style="padding: 1rem;padding-left:1rem;  text-align: center">
                  <div [ngClass]="{'campaign-design': campaignFollowUpTemplate ==='blank'}" style="min-height: 136px; min-width: 112px;display: flex;flex-direction: column-reverse;"
                    class="campaign-design-border">
                    <div>Blank</div>
                  </div>
                </div>
              </a>
              <a (click)="campaignFollowUpTemplate = 'oneColumn'">
                <div style="padding: 1rem; text-align: center">
                  <div [ngClass]="{'campaign-design': campaignFollowUpTemplate ==='oneColumn'}" class="campaign-design-border">
                    <img src="src/assets/1_column.png" style="padding-bottom: 1rem;" height="80px" width="80px">
                    <div> 1 Column</div>
                  </div>
                </div>
              </a>
              <a (click)="campaignFollowUpTemplate = 'oneColumnFullWidth'">
                <div style="padding: 1rem; text-align: center">
                  <div [ngClass]="{'campaign-design': campaignFollowUpTemplate ==='oneColumnFullWidth'}" class="campaign-design-border">
                    <img src="src/assets/1_column_full_width.png" height="55px" width="70px" style="padding-bottom: 1rem;">
                    <div> 1 Column <br>
                      Full Width</div>
                  </div>
                </div>
              </a>
              <a (click)="campaignFollowUpTemplate = 'oneToTwoColumn'">
                <div style="padding: 1rem; text-align: center">
                  <div [ngClass]="{'campaign-design': campaignFollowUpTemplate ==='oneToTwoColumn'}" class="campaign-design-border">
                    <img src="src/assets/1_2_column.png" height="80px" width="80px">
                    <div> 1:2:1 columns</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div style="padding: 1rem" *ngIf="campaignFollowUpTemplate != null || campaignFollowUpTemplate != ''">
          <div align="center" class="cols" style="padding: 5rem;border-color: lightgray; border-style: solid">
            <input type="text" class="form-control" width="60" id="emailSubject" aria-describedby="emailHelp"
              placeholder="Enter Subject">
            <br>
            <textarea rows="10" cols="65" style="resize: none; border-width: 1px; border-radius: 3px" class="form-control"
              placeholder="Email Body"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" align="left" style="padding: 2rem"> <button class="btn btn-light" (click)="selectedStep = 1">
            < Go Back</button> </div> <div class="col-sm-8" align="right" style="padding: 2rem"><button class="btn btn-warning btn-lg"
                (click)="selectedStep = 3"><b>Confirm
                  and Proceed to Step 3</b></button></div>
      </div>
    </div>


    <div *ngIf="selectedStep === 3" style="background-color: white; padding:2rem 5rem">
      <div class="row row-options">
        <h5>1. Campaign Schedule</h5>
      </div>
      <form class="form-inline">
        <div class="form-group">
          <div class="form-group" style="padding-right: 6rem">
            <label for="exampleInputAmount2" style="padding-right: 6rem">First Email </label>
            <input type="date" class="form-control" placeholder="Datepicker" />
          </div>
          <div *ngIf="followUpEmailCounter > 0" class="form-group" style="padding-right: 6rem">
            <label for="exampleInputAmount2" style="padding-right: 6rem">Follow Up Email 1 </label>
            <input type="date" class="form-control" placeholder="Datepicker" />
          </div>
        </div>
      </form>
      <div class="row row-options-step3">
        <h5>2. Test your Campaign</h5>
      </div>
      <div class="row row-options">
        <div class="col-sm-4"><input type="text" class="form-control" [(ngModel)]="testEmail" value="alantiredemo@outlook.com"
            placeholder="Enter Email Address"></div>
        <div class="col-sm-4"><button class="btn btn-light" (click)="sendEmail()">Send Test Email</button></div>
      </div>
      <div class="row row-options-step3">
        <h5>3. Confirm and run your campaign</h5>
      </div>
      <div class="row row-options">
        <div class="col-sm-3"> Did you receive the email</div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="isEmailReceived" value="true">
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="isEmailReceived" value="false">
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
      <div class="row row-options-step3">
        <div class="col-sm-4" align="left" style="padding: 2rem"> <button class="btn btn-light" (click)="selectedStep = 2">
            < Go Back</button> </div> <div class="col-sm-8" align="right" style="padding: 2rem"><button class="btn btn-warning btn-lg"
                [disabled]="isButtonDisabled()" (click)="selectedStep = 4"><b>Confirm and Run Campaign</b></button></div>
      </div>

    </div>
    <div *ngIf="selectedStep === 4" align="center">
      <h3>Success!!! Campaign is Running</h3>
    </div>
  </div>
</div>