<app-header></app-header>
<div class="row rowTab">
    <div class="colsTab cursor"><a routerLink="/dashboard" routerLinkActive="active"><img src="src/assets/DashBoard.svg" height="30px" width="40px">DashBoard</a></div>
    <div class="colsTab cursor"><a routerLink="/campaign"><img src="src/assets/Manage.svg" height="30px" width="40px">Manage Campaign</a></div>
    <div class="colsTab cursor"><a routerLink="/contacts"><img src="src/assets/Contacts.svg" height="30px" width="40px">Contacts</a></div>
    <div class="colsTab cursor"><a routerLink="/customer"><img src="src/assets/Customer.svg" height="30px" width="40px">Customer</a></div>
    <div class="colsTab cursor"><a routerLink="/email"><img src="src/assets/Email.svg" height="30px" width="40px">Email</a></div>
</div>
<router-outlet></router-outlet>