<app-header></app-header>
<div class="row rowTab" style="padding-left: 1rem">
    <div class="colsTab cursor">
        <img src="src/assets/DashBoard.svg" height="30px" width="40px">
        <a [ngClass]="{'tab-clicked': tabClicked ==='Dashboard'}" class="tabs" routerLink="/dashboard" (click)="tabClicked = 'Dashboard'">DashBoard</a>
    </div>
    <div class="colsTab cursor">
        <img src="src/assets/Manage.svg" height="30px" width="40px">
        <a [ngClass]="{'tab-clicked': tabClicked ==='ManageCampaign'}" class="tabs" routerLink="/campaign" (click)="tabClicked = 'ManageCampaign'">
            Manage Campaign</a>
    </div>
    <div class="colsTab cursor">
        <img src="src/assets/Contacts.svg" height="30px" width="40px">
        <a [ngClass]="{'tab-clicked': tabClicked ==='Contacts'}" class="tabs" (click)="tabClicked = 'Contacts'"
            routerLink="/contacts">Contacts</a>
    </div>
    <div class="colsTab cursor">
        <img src="src/assets/Customer.svg" height="30px" width="40px">
        <a [ngClass]="{'tab-clicked': tabClicked === 'Customer'}" class="tabs" (click)="tabClicked = 'Customer'"
            routerLink="/customer">Customer</a>
    </div>
    <div class="colsTab cursor">
        <img src="src/assets/Email.svg" height="30px" width="40px">
        <a [ngClass]="{'tab-clicked': tabClicked === 'Email'}" class="tabs" (click)="tabClicked = 'Email'" routerLink="/email">Email</a>
    </div>
</div>
<router-outlet></router-outlet>